{% extends 'base.html.twig' %}

{% block title %}Редактировать курс{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ course.name }}</h1>




        {{ include('course/_form.html.twig') }}
        <div class="align-items-center flex-wrap">
            <div class="mt-3 mb-2  ">
                <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-secondary">Вернуться к курсу</a>
            </div>

            {{ include('course/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
