{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="w-50 mx-auto ">
        <h1>Регистрация</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

        {{ form_end(form) }}
    </div>

{% endblock %}